$color-primary: #0288d1;
$color-primary-light: #5eb8ff;
$color-primary-dark: #005b9f;

// TEXT
$color-primary-text: #fafafa;
$color-secondary-text: #777;

// LINES
$color-line: #bdbdbd;
$color-line-light: #efefef;
$color-line-dark: #8d8d8d;

// GRID - MANUAL
$grid-m-horizontal-gutter: 2rem;
$grid-m-vertical-gutter: 4rem;

// GREY
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// COMMON
$color-white: #fff;
$color-black: #000;

// Background
$color-background: #fafafa;
$color-background-2: #f5f5f5;